  /* Space out content a bit */

body {
  /*  padding-top: 20px;*/
  padding-bottom: 20px;
  background-color: #F4FFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #171552;
}

strong,
.text-strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
}


/* Custom page header */


/*.header {
  padding-bottom: 20px;
 /* background-color: #C1F3FF;}*/


/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.panel-heading {
  border: none;
}

.btn-card {
  background-color: #adadad;
  margin-bottom: 20px;
}

.colour {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #55C2EB 0%, #F4FFFF 100%);
}

.bevor {
  position: relative;
  z-index: 3;
}


/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  /*  border-top: 1px solid #55C2EB;*/
}


/*karte*/

.background {
  fill: #F4FFFF;
  pointer-events: all;
}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: inherit;
  border-radius: 4px;
  text-align: center;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "⎪\00a0"
}

.map-layer {
  fill: #fff;
  stroke: #aaa;
}

.effect-layer {
  pointer-events: none;
}

.ul {
  list-style-type: none;
}

.li {
  list-style-type: none;
}

.effect-layer text,
text.dummy-text {
  font-size: 12px;
}

svg path.hexbin-hexagon {
  stroke: #888;
  stroke-width: 2px;
}


/*Wolken*/

.cloud{
  size: 50%;
}

.animationOne {
  position: absolute;
  width: 50%;
  -webkit-animation: one 6s linear 0.5s infinite;
  animation: one 6s linear 0.5s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.3, 0.5);
  animation-timing-function: cubic-bezier(0, 0, 0.3, 0.5);
}

.animationTwo {
  position: absolute;
  top: 20%;
  left: 70%;
  -webkit-animation: two 6s linear 0.5s infinite;
  animation: two 6s linear 0.5s infinite alternate;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 0.5);
  animation-timing-function: cubic-bezier(0, 0, 0.2, 0.5);
}

@-webkit-keyframes one {
  from {
    left: 0px;
  }
  to {
    left: 5vw;
  }
}

@keyframes one {
  from {
    left: 0px;
  }
  to {
    left: 5vw;
  }
}

@-webkit-keyframes two {
  from {
    left: 65%;
  }
  to {
    left: 62%;
  }
}

@keyframes two {
  from {
    left: 65%;
  }
  to {
    left: 62%;
  }
}

.jumbotoron {
  background-color: initial;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


/* Customize container */

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  /*  border-bottom: 1px solid #e5e5e5;*/
  background-color: initial;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.intro {
  /*    padding-top: 10px;*/
}

.img-head {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

@media (min-width:992px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left
  }
  .col-lg-6 {
    width: 50%
  }
}

.visible-xs-block {}


/* Supporting marketing content */


/*.marketing {
  margin: 0, 40px;
}
.marketing p + h4 {
  margin-top: 28px;
}*/


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 992px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Space out the masthead */
  /*  .header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .intro {
    padding-top: 10px;
  }
  .img-thumbnail {
    max-width: 100%;
  }
}

/* Bar chart */
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.axis--y path {
  display: none;
}

/*.line {
  stroke: red;
  stroke-width: 2px;
  fill: none;
}*/

/* Tooltip*/
.toolTip {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
}
