*.zip
MvgBikeApp/node_modules
preprocess/node_modules
mvg-networkstate-mvgrad
queries/results
mvgstate/node_modules
results
test data/mvg-networkstate/output
node_modules
hexbinmap/node_modules
page1/node_modules
